page-login {
.login-content {
    background: #FFFFFF;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    } 
    .login-box {
      background: white;
    //   border: 1px solid black;
      
      margin-top: 20px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 10px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #000000;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #51CFB1;
       font-size: 0.8em;
     }

     .forgotpass-btn{
       color: #51CFB1;
       font-size: 0.8em;
     }
  }
}
